ShellsNumber sn %10.6f
BoxVolume bv1 %10.6f 0.0
BoxVolume bv3 %10.6f 0.10
BoxVolume bv3 %10.6f 0.20
ShellsVolume cv1 %10.6f 0.0
ShellsVolume cv2 %10.6f 0.10
ShellsVolume cv3 %10.6f 0.20
AverageTurgor at %10.6f
#AverageContactsNumber acn %10.6f
Tensorial tn0 %10.6f 0
Tensorial tn1 %10.6f 1
Tensorial tn2 %10.6f 2
Tensorial tn3 %10.6f 3
#Pressure pr %10.6f 0.0
