BoxVolume bv1 %10.6f 0.0
BoxVolume bv2 %10.6f 0.05
BoxVolume bv3 %10.6f 0.10
AverageTurgor av %10.6f
#ShellsVolume cv1 %10.6f 0.0
#ShellsVolume cv2 %10.6f 0.05
#ShellsVolume cv3 %10.6f 0.10
#SurfacePressure sp1 %10.6f 0.0
#SurfacePressure sp2 %10.6f 0.075
#SurfacePressure sp3 %10.6f 0.15
#WallCoverageFraction wcf1 %10.6f 0.0
#WallCoverageFraction wcf2 %10.6f 0.075
#WallCoverageFraction wcf3 %10.6f 0.15
#AverageTurgor at %10.6f
#AverageActiveArea aa1 %10.6f 0.0
#AverageActiveArea aa2 %10.6f 0.075
#AverageActiveArea aa3 %10.6f 0.15
#AverageActiveFraction af1 %10.6f 0.0 
#AverageActiveFraction af2 %10.6f 0.075
#AverageActiveFraction af3 %10.6f 0.15
